root = true

[*]
charset = utf-8

[*.cs]
# 缩进设置
indent_style = space
indent_size = 4
brace_style = end_of_line
# 空行设置
new_line_before_catch = false
new_line_before_else = false
csharp_new_line_before_catch = false
new_line_before_finally = false
csharp_blank_lines_after_block_statements = 0
# Trailing Comma
trailing_comma_in_multiline_lists = true 