name: "Export binaries"
on: 
  push:
  pull_request:
  workflow_dispatch:

# NOTE: If your `project.godot` is at the repository root, set `PROJECT_PATH` below to ".".

env:
  GODOT_VERSION: 4.6.1
  EXPORT_NAME: SuperMarioWorkerProject2
  PROJECT_PATH: .

jobs:
  export-windows:
    name: Windows Export
    runs-on: ubuntu-24.04  # Use 24.04 with godot 4
    environment: export
    container:
      image: barichello/godot-ci:mono-4.6.1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: true
          submodules: true
      - name: Write Decrypt Key
        shell: bash
        run: |
          set -e
          KEY_DIR="content/smwp_1_file_decryptor/key"
          KEY_FILE="$KEY_DIR/smwp1_decrypt_key.txt"
          mkdir -p "$KEY_DIR"
          printf "%s" "${{ secrets.SMWP1_DECRYPT_KEY }}" > "$KEY_FILE.utf8"
          iconv -f UTF-8 -t GB18030 "$KEY_FILE.utf8" -o "$KEY_FILE"
          rm "$KEY_FILE.utf8"
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mkdir -v -p ~/.config/
          mv /root/.config/godot ~/.config/godot
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable.mono ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable.mono
      - name: Project Import
        run: |
          cd $PROJECT_PATH
          godot --headless --verbose --import
      - name: Build Godot .NET lib
        run: |
          cd $PROJECT_PATH
          dotnet build
      - name: Windows Build
        run: |
          mkdir -v -p build/windows
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          echo 'start "" ".\${{ env.EXPORT_NAME }}.exe" --rendering-driver opengl3' > "$EXPORT_DIR/windows/Compatible_Launch.bat"
          godot --headless --verbose --export-release "Windows Desktop" "$EXPORT_DIR/windows/$EXPORT_NAME.exe"
          echo "SMWP2 Build: [$(echo "${{ github.sha }}" | cut -c 1-7)](https://github.com/${{ github.repository }}/commit/${{ github.sha }}) from $(date '+%d-%b-%Y %T')" > "$EXPORT_DIR/windows/Readme.md"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: build/windows
